/* barra de color */

.mavbar {
    padding: 2rem;
    background-color: rgb(232, 227, 214);
}

.imagen-navbar {
    border-radius: 50%;
}

.navbar-collapse {
align-items: center;
justify-content: space-between;
}

/* Estilos generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura {
    color: white;
    background-color: #1b1b32; 
}

/* experiencia */

.experiencia {
    padding: 40px 40px 60px 40px;
}

.experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a24;
    padding: 8px 19px;
    border-radius: 50%;
}

.experiencia .columna {
    padding: 20px;
    border:2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.badges-contenedor {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
    
}

.seccion-clara {
    color: black;
    background-color: white;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #4b3e3e;
    font-family: 'EB Garamond', serif;
}

.hero-imagen-perfil {
    width: 250px;
    border-radius: 10%;
    margin: 5px;
}
/* Section hero 
(Sección principal)*/
.hero {
    background-color:rgb(252, 247, 230);
    min-height: 450px;
    text-align: center;
}

/* Sobre mi */
.sobre-mi { 
    height: 600px;
    padding: 10px;
    text-align: center;
}

.sobre-mi .contenedor .seccion-texto{
    max-width: 600px;
    text-align: justify;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-texto{
    font-size: 1.2rem;
}
/* Adaptable responsivo */

@media screen and (max-width: 760px) {
    .navbar-brand {
        display: none ;
    }
}

@media screen and (min-width: 700) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
}